body {
  margin: 0;
}

main {
  margin: 30px;
}

.user-avatar {
  max-height: 35px;
  border-radius: 4px;

}

.toolbar-tools {
  display: flex;
}


.filler {
  flex: 1 1 auto;
  width: 100%;
}

.menu-item {
  text-transform: uppercase;
  cursor: pointer;
}

.menu-item.mdc-button {
  min-width: max-content;
  
  &::after {
    content: '';
    position: absolute;
    inset-block-end: 0.125rem;
    height: 0.125rem;
    width: 100%;
    background-color: transparent;
    transition: all 250ms ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
  }
  
  &:hover::after {
    background-color: rgba(from currentColor r g b / 0.5);
  }

  &.menu-item-active::after {
    transform: scaleX(1);
    background-color: currentColor;
  }
}


.profile-picture {
  max-height: 40px;
}